PORT=8000

MONGO_URI="mongodb://localhost:27017/travelbuddy"

JWT_SECRET=<jwt-secret>
JWT_EXPIRES_IN="7d"

CLOUDINARY_CLOUD_NAME=<cloudinary-cloud-name>
CLOUDINARY_API_KEY=<cloudinary-api-key>
CLOUDINARY_API_SECRET=<cloudinary-api-secret>